* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.displaynone {
  display: none;
}
.displaydisplay {
  display: block;
}
/* first rectangle */
.top_rectangle {
  background-color: #e4faf4;
  display: flex;
  justify-content: flex-end;
  height: 36px;
}
/* second nav */

.secondnav-secondflex {
  display: flex;
}
.search-box {
  background-color: #f5f5f5;
  border-radius: 6px;
  width: 240px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat {
  position: fixed;
  right: 3%;
  bottom: 3%;
}
.chat img {
  cursor: pointer;
  transition: 0.5s;
}
/* section tags */
/* fisrt div tag */
.investing-made-easy_and_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.investing-made-button {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #00d09c;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 209px;
  height: 52px;
}
.image_girl {
  display: block;
}
.investing_made {
  color: #222222;
  font-family: FuturaBT;
  font-size: 40px;
  line-height: 47.95px;
}
.indias-fastest {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  padding: 1rem 0rem;
}
/* 2nd div............................................................................................................................. */
.trusted-by-millions-rectangle-spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trusted-by-millions-rectangle {
  background-color: #e4faf4;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 2rem 0rem;
  width: 100%;
  margin: 3rem 0rem;
}
.trusted-by-millions {
  color: #222222;
  font-family: Futura;
  font-size: 30px;
  line-height: 39px;
}
.we-are-registered {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
}
.trusted-by-millions_div {
  display: flex;
  align-items: center;
  justify-content: inherit;
}
.trusted-by-millions_smallboxes {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 6px;
  margin-left: 2rem;
}
.seconddiv-smallbox-logo {
  display: flex;
  justify-content: center;
}
/* 3rd div.............................................................................................................................................. */
.bold {
  background-color: #00d09c;
  box-shadow: 0 5px 20px 0 rgb(90 202 157 / 5%);
  opacity: 0.3;
  width: 86px;
  height: 10px;
  margin-top: -10px;
  z-index: -3;
}
.about-mutal-funds-container {
  display: flex;
  justify-content: space-between;
}
.about-mutal-funds {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
}
.know-more_watch-video {
  padding: 3rem 0rem;
}
.learn-with-fund-guru {
  color: #222222;
  font-family: Futura;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  margin: 1rem 0rem;
}
.mutual-funds-intro {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  margin: 5px 10px;
  font-size: 18px;
  text-align: center;
}
#myDIV {
  display: none;
}
#cyDIV {
  display: none;
}
#dyDIV {
  display: none;
}
.second-button {
  background-color: #00d09c;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 163px;
  height: 52px;
  border: none;
  color: white;
}
.watchvideo {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  margin-left: 4px;
}
/* 4th div........................................................................................................................................... */
.ask_the_expert-and-image {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}
.ask_the_expert-and-image_inside {
  display: flex;
}
.ask-the-expert {
  color: #222222;
  font-family: Futura;
  font-size: 40px;
  line-height: 52px;
}
.you-can-schedule-a-m {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
}
.investing-made-easy {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
}
.three-simple-options {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 260px;
  text-align: left;
}
.buttonthird {
  background-color: #00d09c;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 159px;
  height: 52px;
  border: none;
  color: white;
  margin-top: 87px;
}
.buttonfourth {
  background-color: #00d09c;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 159px;
  height: 52px;
  border: none;
  color: white;
  margin-top: 4rem;
}
.ask_the_expert-and-image-logo {
  margin: 1rem 0rem;
}
.ask_the_expert-and-image-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0em;
}
.img-expert {
  display: flex;
}
/* 5ht div.................................................................................................................................. */
.neo-funds_and-quicklinks {
  padding: 8rem;
}
.manage-your-investme {
  color: #222222;
  font-family: FuturaBT;
  font-size: 30px;
  line-height: 35.96px;
  text-align: center;
  padding-bottom: 1rem;
}
.now-you-will-be-at-e {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: center;
  padding-bottom: 1rem;
}
.download-the-app-now {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: center;
  padding-bottom: 1rem;
}
.fifthlogo {
  display: flex;
  justify-content: center;
}
/* footer@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 1st div............................................................................................................ */
.neo-funds-and-quicklinks-last-sectionsfirst-div-inside {
  display: flex;
}
.neo-funds-and-quicklinks-last-sectionsfirstdiv {
  display: flex;
  justify-content: space-between;
}
.ask_the_expert-and-image-links {
  margin-left: 8rem;
}
.quick-links {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  margin-top: 1rem;
}
.explore-funds {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  margin-top: 1rem;
}
.copyright-logo {
  display: flex;
  justify-content: space-between;
}
.img-expert-padding {
  padding-left: 0%;
  width: 100%;
}
.copyright-2019-mutal {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: left;
}
.neo-funds-and-quicklinks-last-sectionsend-logos {
  margin-left: 1rem;
}
/* shortcut */
.between{
  display: flex;
  align-items: center;
}
.onhide-button {
  border: 1px solid #f0f0f0;
  width: 100%;
  height: 52px;
  text-align: left;
  background-color: white;
  margin-top: 1rem;
  padding-left: 8px;
  color: #222222;
}
.neo-funds-and-quicklinks-last-sectionshide_1 {
  display: flex;
  justify-content: space-between;
}
.neo-funds_and-quicklinks-last-sectionsdownload-the-app {
  display: flex;
  justify-content: center;
}
.neo-funds_and-quicklinks-last-sectionsicons {
  display: flex;
  justify-content: center;
}
.copyright-2019 {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: center;
}
.underline {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(to top, #00d09c, white);
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 130%;
  background-size: 100% 20px;
}
.footerdisapear {
  display: none;
}
.neo-funds_and-quicklinks-last-sectionsalive {
  display: block;
}
.neo-funds_and-quicklinks-last-sectionsicons_padding {
  padding: 7px 10px;
}
.neo-funds-and-quicklinks-last-sectionsdownlaodapp-container {
  padding-top: 30px;
}
.neo-funds-and-quicklinks-last-sectionscopy-container {
  padding-top: 31px;
}
/* responsive */
@media screen and (max-width: 600px) {
  /* javascript */
}
/* topsection nav bar................................................................................................................................. */

.top-rectangle {
  background-color: #e4faf4;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-rectangle-links {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}
.container {
  padding: 0px 10rem 0px 10rem;
  max-width: 1440px;
}
.download_app-blog-language {
  padding-left: 35px;
  display: flex;
}
.language_selection {
  border: none;
  background-color: #e4faf4;
  height: auto;
}
.download-app {
  color: #222222;
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: center;
}
.displayflex {
  display: flex;
}
a {
  text-decoration: none;
  color: #222222;
}
.neo-funds-and-links_horizontal {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.neo-funds-and-links_horizontal ul {
  margin: 0px;
  padding: 0px;
}
.search-box-inside-inside-hidden {
  padding: 11px 11px;
  display: none;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin: 18px 0px;
}

.search-box-inside-inside {
  padding: 11px 11px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin: 18px 0px;
  margin-left: auto;
}
.search-box-inside {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  border: none;
  background-color: #f7f7f7;
  display: flex;
}
.topnav {
  overflow: hidden;
}
.learn_explore_ask_login {
  margin-left: 48px;
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
}

.topnav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.icon {
  display: none;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav li {
    display: none;
  }
  .topnav .icon {
    float: right;
    display: block;
  }
  .icon-wrapper {
    display: block !important
  ;
    float: right !important;
    position: absolute;
    right: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .search-box-inside {
    line-height: 37px;
  }
  .img-expert-padding {
    padding-left: 15% !important;
    width: 70% !important;
  }
  .three-simple-options {
    width: 100% !important;
  }
  .trusted-by-millions_smallboxes {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .neo-funds_and-quicklinks {
    padding: 0rem;
    padding-bottom: 2rem;
  }
  .footerdisapear {
    display: block !important;
  }
  .neo-funds_and-quicklinks-last-sectionsalive {
    display: none;
  }
  .img-expert {
    display: none;
  }
  .displaynone {
    display: block !important;
  }
  .trusted-by-millions-rectangle-spacing {
    display: block !important;
  }
  .displaydisplay {
    display: none;
  }
  .top_rectangle {
    display: none;
  }
  /* second nav */
  .image_girl {
    display: none !important;
  }
  .ask_the_expert-and-image_inside {
    display: block !important;
  }
  .about-mutal-funds-container {
    display: block;
  }
  .top-rectangle {
    display: none;
  }
  .topnav.responsive {
    position: absolute;
    right: 0rem;
    top: 3rem;
    height: 35vh;
    background-color: transparent;
    padding: 1rem;
  }
  .neo-funds-and-links_horizontal {
    justify-content: space-between;
    margin-top: 1rem;
  }
  .topnav.responsive .icon-wrapper {
    position: absolute;
    right: 0;
    top: 0;
  }
  .search-box-inside-inside-hidden {
    display: flex;
    margin: 18px 10px;
  }
  .search-box-inside-inside {
    display: none;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .container {
    padding: 0px 1rem 0px 1rem;
  }
}
